@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="main" role="main">

  <div class="slides-container">
    <div class="slide slide-1">
        <div class="centered">
            <h1>Slide 1</h1>
            <p>Let's go to the <span class="go-next">next slide</span>.</p>
        </div>
    </div>
    <div class="slide slide-2">
        <div class="centered">
            <h1>Slide 2</h1>
            <p>You can go back to <span class="go-prev">previous slide</span> or go to the <span class="go-next">next slide</span>.</p>
        </div>
    </div>

    <div class="slides-container-horizontal slide">
        <div class="slide-horizontal slide-1">
            <div class="centered">
                <h1>Slide 3</h1>
                <p>Let's go to the <span class="go-next">next slide</span>.</p>
            </div>
        </div>
        <div class="slide-horizontal slide-2">
            <div class="centered">
                <h1>It is so easy to navigate through slides</h1>
                <p>You can go back to <span class="go-prev">previous slide</span> or go to the <span class="go-next">next slide</span>.</p>
            </div>
        </div>
        <div class="slide-horizontal slide-3">
            <div class="centered">
                <h1>Use mouse wheel</h1>

                <p>No, really. Try to scroll up and down with the mouse wheel to switch between slides.</p>
            </div>
        </div>
        <div class="slide-horizontal slide-4">
            <div class="centered">
                <h1>... Or use keyboard arrows</h1>
                <p>You go to previous and next slide, using up and down keyboard arrows.</p>
            </div>
        </div>
    </div>

    <div class="slide slide-3">
        <div class="centered">
            <h1>Slide 4</h1>

            <p>No, really. Try to scroll up and down with the mouse wheel to switch between slides.</p>
        </div>
    </div>
    <div class="slide slide-4">
        <div class="centered">
            <h1>Slide 5</h1>
            <p>You go to previous and next slide, using up and down keyboard arrows.</p>
        </div>
    </div>
  </div>

</main>


@@include('../fixtures/_footer.html')
